In [1]:
import pandas as pd
import numpy as np

In [66]:
def calc_ent(*args):
    nums = sum(args)
    res = round(-sum(map(lambda x: x/nums * np.log2(x/nums), args)), 2)
    return res

In [6]:
data = pd.read_csv('../data/cats.csv', index_col=0)
data

   Шерстист  Гавкает  Лазает по деревьям      Вид
0         1        1                   0  собачка
1         1        1                   0  собачка
2         1        1                   0  собачка
3         1        1                   0  собачка
4         1        0                   1    котик
5         1        0                   1    котик
6         1        0                   1    котик
7         1        0                   1    котик
8         1        1                   1    котик
9         0        0                   1    котик

$$ E = - \sum_i p_i \cdot log_2 p_i $$

1. Энтропия при разделении по фиче *Шерстист* в группах, где Шерстист равно 0 и 1 соответственно, составляет $___$, и $___$. 
- Энтропия при разделении по фиче *Гавкает* в группах, где Гавкает равно 0 и 1 соответственно, составляет $___$, и $___$. 
- Энтропия при разделении по фиче *Лазает по деревьям* в группах, где эта фича равна 0 и 1 соответственно, составляет $___$, и $___$.

In [16]:
data.Вид = data["Вид"].map({"собачка": 0, "котик": 1})

In [100]:
data

   Шерстист  Гавкает  Лазает по деревьям  Вид
0         1        1                   0    0
1         1        1                   0    0
2         1        1                   0    0
3         1        1                   0    0
4         1        0                   1    1
5         1        0                   1    1
6         1        0                   1    1
7         1        0                   1    1
8         1        1                   1    1
9         0        0                   1    1

In [110]:
for i in range(3):
    a = data[data.iloc[:, i] == 0].iloc[:, -1].value_counts()
    b = data[data.iloc[:, i] == 1].iloc[:, -1].value_counts()
    print(*a)
    print(*b)
    E_a = calc_ent(*a)
    E_b = calc_ent(*b)
    print(E_a, E_b, i)

1
5 4
-0.0 0.99 0
5
4 1
-0.0 0.72 1
4
6
-0.0 -0.0 2


Ещё немного арифметики - посчитаем Information Gain по данным из предыдущего задания. Впишите через пробел округлённые до 2-ого знака значения IG для фичей Шерстист, Гавкает и Лазает по деревьям. Десятичным разделителем в данном задании является точка.

По какой переменной нужно делать сплит, исходя из всего этого (не вводите ответ на этот вопрос в поле, просто подумайте)

$$ IG = E(Y) - E(Y|X)$$

In [102]:
E_0 = calc_ent(4, 6)
E_0

0.97

In [105]:
def rel_ent(*args, n=10):
    nums = sum(args)
    ent = -sum(map(lambda x: x/nums * np.log2(x/nums), args))
    
    print(n, args)

In [115]:
for i in range(3):
    a = data[data.iloc[:, i] == 0].iloc[:, -1].value_counts()
    b = data[data.iloc[:, i] == 1].iloc[:, -1].value_counts()
    print(*a)
    print(*b)
    E_a = calc_ent(*a)
    E_b = calc_ent(*b)
    E_yx = sum(a)/10 * E_a + sum(b)/10 * E_b
    IG = round(E_0 - E_yx , 2)
    print(i, E_a, E_b, IG)

1
5 4
0 -0.0 0.99 0.08
5
4 1
1 -0.0 0.72 0.61
4
6
2 -0.0 -0.0 0.97

In [106]:
rel_ent(1, 2, 3)

10 (1, 2, 3)