Анализ данных -- это далеко не всегда заумные академические модели в вакууме. Иногда на основе простых манипуляций можно сделать разумные выводы и облегчить принятие повседневных решений.

Дата фрейм attitude -- встроенный массив данных, содержащий рейтинг департаментов одной финансовой компании, составленный сотрудниками. Представьте, что вы хотите устраиваться как раз в эту компанию, и дата фрейм (совершенно случайно!) оказался в вашем распоряжении. 

Вы решили, что самое главное для вас -- это возможность учиться новому (learning). Возьмите 5 топовых департаментов по этому показателю. Из этого набора вам более всего подойдёт тот департамент, который имеет наибольшую сумму баллов по трём показателям: реакция на жалобы работников (complaints), надбавки в зависимости от результатов работы (raises) и возможность продвижения (advance).

Какой же департамент вам выбрать? Напишите его номер XX (номер строки в дата фрейме).

In [53]:
data  <-attitude
data  <- data[order(data$learning, decreasing = T),][1:5,]
data$data  <- data$com + data$rais + data$adv
row.names(data)[which.max(data$data)]

[1] "29"

___
Вернёмся ненадолго к дата фрейму attitude. Какими из нижеуказанных способов можно выбрать только те строки, которые соответствуют департаментам с рейтингом (rating) ниже пятидесяти, при этом сохранив все столбцы, кроме rating?

Убедитесь, что вы понимаете, почему работает (не работает) каждый из способов!

In [1]:
 attitude[rating < 50, names(attitude) != "rating"]

ERROR: Error in `[.data.frame`(attitude, rating < 50, names(attitude) != "rating"): объект 'rating' не найден

In [2]:
subset(attitude, rating < 50, -rating)

   complaints privileges learning raises critical advance
1  51         30         39       61     92       45
6  55         49         44       54     49       34
24 37         42         58       50     57       49
28 57         44         45       51     83       38

In [3]:
 subset(sel = -rating, sub = rating < 50, attitude)

   complaints privileges learning raises critical advance
1  51         30         39       61     92       45
6  55         49         44       54     49       34
24 37         42         58       50     57       49
28 57         44         45       51     83       38

In [4]:
attitude[attitude$rating < 50, names(attitude) != "rating"]

   complaints privileges learning raises critical advance
1  51         30         39       61     92       45
6  55         49         44       54     49       34
24 37         42         58       50     57       49
28 57         44         45       51     83       38

In [5]:
 attitude[attitude$rating < 50, -"rating"]

ERROR: Error in -"rating": неправильный аргумент для унарного оператора

___
Визуальная инспекция данных -- важный этап предварительного анализа данных. Она позволяет заметить очевидные несоответствия и аномалии в данных, и, что немаловажно, "почувствовать" структуру дата фрейма. Какие в нём есть переменные? Что они означают? В каких единицах измеряются? Какой у них диапазон значений? 

Используйте вспомогательные функции, о которых я говорил, чтобы разглядеть встроенный дата фрейм с названием quakes. Сопоставьте значения из этого дата фрейма и их описания.

Подсказки: 

- описание дата фрейма есть в справке: ?quakes  
- медиана -- одна из описательных статистик; медиана и среднее -- разные вещи!

In [9]:
data  <- quakes

##[,1]	lat	numeric	Latitude of event
##[,2]	long	numeric	Longitude
## [,3]	depth	numeric	Depth (km)
## [,4]	mag	numeric	Richter Magnitude
## [,5]	stations	numeric	Number of stations reporting

head(data)

  lat    long   depth mag stations
1 -20.42 181.62 562   4.8 41
2 -20.62 181.03 650   4.2 15
3 -26.00 184.10  42   5.4 43
4 -17.97 181.66 626   4.1 19
5 -20.42 181.96 649   4.0 11
6 -19.68 184.31 195   4.0 12

In [10]:
mean(data$depth)

[1] 311.371

In [11]:
min(data$mag)

[1] 4

In [12]:
data$station[nrow(data)-1]

[1] 14

In [14]:
data$station[3]

[1] 43

In [13]:
max(data$mag)

[1] 6.4

In [16]:
median(data$depth)

[1] 247

In [17]:
summary(data)

      lat              long           depth            mag
 Min.   :-38.59   Min.   :165.7   Min.   : 40.0   Min.   :4.00
 1st Qu.:-23.47   1st Qu.:179.6   1st Qu.: 99.0   1st Qu.:4.30
 Median :-20.30   Median :181.4   Median :247.0   Median :4.60
 Mean   :-20.64   Mean   :179.5   Mean   :311.4   Mean   :4.62
 3rd Qu.:-17.64   3rd Qu.:183.2   3rd Qu.:543.0   3rd Qu.:4.90
 Max.   :-10.72   Max.   :188.1   Max.   :680.0   Max.   :6.40
    stations
 Min.   : 10.00
 1st Qu.: 18.00
 Median : 27.00
 Mean   : 33.42
 3rd Qu.: 42.00
 Max.   :132.00