In [33]:
import pandas as pd
import numpy as np

%config IPCompleter.greedy=True

In [9]:
test = pd.read_csv("../data/movie_metadata.csv.zip", compression="zip")

In [10]:
test.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### Расставьте способы взять среднее значение по скорости выполнения сверху вниз - наверху самый быстрый.

In [13]:
data = pd.read_csv("../data/iris.csv", index_col=0)
data.head()

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [24]:
%%timeit
data.mean(axis=0)

288 µs ± 8.85 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [23]:
%%timeit
data.apply('mean')

746 µs ± 7.61 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [21]:
%%timeit
data.apply(np.mean)

1.43 ms ± 30 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [25]:
%%timeit
data.describe().loc['mean']

14 ms ± 2.15 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

___
___

In [31]:
data = pd.read_csv("../data/amzn_stock.csv",
                   index_col="Date",
                   parse_dates=True
                  )
data.head()

              Open    High     Low   Close    Volume
Date
2010-01-04  136.25  136.61  133.14  133.90   7600543
2010-01-05  133.43  135.48  131.81  134.69   8856456
2010-01-06  134.60  134.73  131.65  132.25   7180977
2010-01-07  132.01  132.32  128.80  130.00  11030124
2010-01-08  130.56  133.68  129.03  133.52   9833829

---

К вам попали наблюдения о числе перелетающих на зимовку стрижей, представленные в виде пандасовской серии wintering. В каждой ячейке указано число пролетевших птиц за этот день. Посчитайте с помощью expanding окна количество всех перелетевших птиц за всё время до данного и поместите в переменную total_birds.

In [32]:
#  total_birds = wintering.expanding().sum()