1) Вновь вернемся к данным mtcars. Рассчитайте среднее значение времени разгона (qsec) для автомобилей, число цилиндров (cyl) у которых не равняется 3 и показатель количества миль на галлон топлива (mpg) больше 20.

Получившийся результат (среднее значение) сохраните в переменную result.

In [6]:
data  <- mtcars
result  <- mean(data$qsec[data$cyl != 3 & data$mpg > 20])
result

[1] 18.81643

___
2) При помощи функции aggregate рассчитайте стандартное отклонение переменной hp (лошадиные силы) и переменной disp (вместимости двигателя)  у машин с автоматической и ручной коробкой передач. 

Полученные результаты (результаты выполнения функции aggregate) сохраните в переменную descriptions_stat.

In [14]:
data  <- mtcars
# Transmission (0 = automatic, 1 = manual)
descriptions_stat  <-  aggregate(cbind(hp, disp)  ~ am, data, sd)
descriptions_stat

  am hp       disp
1 0  53.90820 110.17165
2 1  84.06232  87.20399

___
3) Воспользуемся встроенными данными airquality. В новую переменную сохраните subset исходных данных, оставив наблюдения только для месяцев 7, 8 и 9.

При помощи функции aggregate рассчитайте количество непропущенных наблюдений по переменной Ozone в 7, 8 и 9 месяце. Для определения количества наблюдений используйте функцию length(). 

Результат выполнения функции aggregate сохраните в переменную result.

Подсказки:

1. Не забудьте сделать subset, чтобы отобрать наблюдения только по нужным месяцам, вам может пригодиться следующая конструкция:

> x <- 5  
> x %in% c(3, 4, 5)  
> [1] TRUE

2. Для подсчета числа непропущенных наблюдений воспользуйтесь записью с помощью формулы, при которой пропущенные значения не учитываются:
aggregate(y ~ x + z , data, FUN)

In [7]:
head(airquality)
?airquality

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [22]:
data  <- subset(airquality, Month %in% c(7,8,9))
aggregate(Ozone ~ Month, data, length)

  Month Ozone
1 7     26
2 8     26
3 9     29

___
4) Примените функцию describeBy к количественным переменным данных airquality, группируя наблюдения по переменной Month.  Чему равен коэффициент асимметрии (skew) переменной Wind в восьмом месяце?

В графу с ответом требуется ввести только число. Десятичный разделитель - запятая: например 12,6

In [31]:
some  <- subset(airquality, Month == 8)
skew(some$Wind)
describe(some)

[1] 0.03549581

        vars n  mean       sd        median trimmed   mad      min  max   range
Ozone   1    26  59.961538 39.681210  52.0   56.86364 40.77150  9.0 168.0 159.0
Solar.R 2    28 171.857143 76.834943 197.5  175.83333 67.45830 24.0 273.0 249.0
Wind    3    31   8.793548  3.225930   8.6    8.77200  3.40998  2.3  15.5  13.2
Temp    4    31  83.967742  6.585256  82.0   83.72000  5.93040 72.0  97.0  25.0
Month   5    31   8.000000  0.000000   8.0    8.00000  0.00000  8.0   8.0   0.0
Day     6    31  16.000000  9.092121  16.0   16.00000 11.86080  1.0  31.0  30.0
        skew        kurtosis   se
Ozone    0.78795473  0.0450299  7.7821256
Solar.R -0.55824698 -1.1738285 14.5204394
Wind     0.03549581 -0.6948058  0.5793941
Temp     0.29605407 -0.9667322  1.1827468
Month           NaN        NaN  0.0000000
Day      0.00000000 -1.3165973  1.6329932

___
5) Обратимся к встроенным данным iris. Соотнесите значения стандартного отклонения переменных.

In [103]:
data  <- iris
describe(data)["sd"]

             sd
Sepal.Length 0.8280661
Sepal.Width  0.4358663
Petal.Length 1.7652982
Petal.Width  0.7622377
Species*     0.8192319

___
6) В данных iris расположите по убыванию значения медиан количественных переменных в группе virginica.

In [82]:
data  <- subset(iris, Species == "virginica")
some  <-  aggregate(. ~ data$Species, data, median)
sort(some, decreasing =  T)

  data$Species Sepal.Length Petal.Length Sepal.Width Species Petal.Width
1 virginica    6.5          5.55         3           3       2

___
7) В переменной my_vector сохранен вектор с пропущенными значениями. Вам нужно создать новый вектор fixed_vector, в котором все пропущенные значения вектора my_vector будут заменены на среднее значение по имеющимся наблюдениям.

При этом исходный вектор оставьте без изменений!

Напоминаю, переменная my_vector уже создана, сразу начинайте работать с ней. Перед тем, как сдавать решение, вы можете потренироваться на различных примерах. Ниже небольшой код, который может создать случайный вектор (выборка из нормального распределения) с пропущенными значениями.


my_vector <- rnorm(30)

my_vector[sample(1:30, 10)] <- NA # на десять случайных позиций поместим NA


Задача для самостоятельной работы:

Изучите справку по функции replace. Вызвать справку можно исполнив команду:

?replace
Попробуйте решить это задание при помощи этой функции.

In [124]:
my_vector <- rnorm(30)
my_vector[sample(1:30, 10)] <- NA
fixed_vector <- my_vector
fixed_vector [is.na(fixed_vector )]  <- mean(my_vector, na.rm = T)

fixed_vector <- replace(my_vector, is.na(my_vector), mean(my_vector, na.rm = T))

 [1] -0.59973226  0.47451417 -0.15793289  0.26664235  1.28903964  0.21094247
 [7]  0.33445455 -0.15793289 -0.15793289 -0.15793289 -0.15793289  0.04825252
[13] -0.11704505 -0.56097393 -0.97122491 -0.15793289  0.18493477 -0.15793289
[19] -0.15793289 -0.15793289 -0.15793289  0.52637772 -0.86412703 -0.97533412
[25]  0.68571410 -1.39291151 -0.13630113 -0.33593911 -0.77418302 -0.45175807